.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.card {
  position: relative;
  background-color: #dddbea;
  color: white;
}

.lastCard {
  padding-bottom: 6.5rem;
}

.price {
  letter-spacing: -3px;
}
